main {
    animation: fadeInUp 1s ease-in-out;
}

/* Ocultar navbar */
#nav-list {
    display: none !important;
}

/* Estilos de la página y estructura */
#header-container, #direct-access-container, #graphic-report-container {
    background-color: var(--background-light) !important;
    border-radius: 0.3rem;
    border: 1px solid var(--secondary-light);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Contenedor del encabezado */
#header-user {
    color: var(--primary);
}

#header-body, .advice-date {
    font-size: 14px;
    color: var(--secondary) !important;
}

#header-week {
    color: var(--primary-dark);
}

@media (max-width: 430px) {
    #header-date, #header-week {
        font-size: 13px !important;
    }
}

#menu-container {
    animation: fadeInUp 1s ease-in-out;
}

/* Estilos para cards de acceso directo */
.access-card {
    width: 100%;
    height: 100%;
    border: 1px solid var(--secondary-light);
    font-size: 14px;
    color: var(--primary-dark);
}

.access-card:hover {
    background-color: var(--primary-dark) !important;
    color: var(--primary-light) !important;
    border-color: var(--primary) !important;
}

/* Estilos para cards de avisos */
#advices-container {
    animation: fadeInUp 1s ease-in-out;
}

.advice-card .card-header {
    color: var(--primary-dark) !important;
    font-weight: bold;
}

.advice-card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
}

.advice-card:hover {
    transform: translateY(-5px);
}