main {
    animation: fadeInUp 1s ease-in-out;
}

/* Estilos de contenedores */
#schedule-info-container, #schedule-details-container, #extra-pages-container {
    background-color: var(--background-light) !important;
    border-radius: 0.3rem;
    border: 1px solid var(--secondary-light);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

th {
    color: var(--secondary) !important;
}

#schedule-details-container {
    animation: fadeInUp 1s ease-in-out;
}

#schedule-filter {
    border-bottom: 1px solid var(--secondary-light);
}

#schedule-list-container {
    max-height: 440px;
    /* Habilita el scroll vertical */
    overflow-y: auto;
    overflow-x: hidden;
}

#total-text, #time-text {
    color: var(--primary-dark);
}

@media (max-width: 770px) {
    #schedule-list-container {
        max-height: 350px;
    }

    #logo-details h5 {
        font-size: 16px;
    }
}

/* Estilos para la lista de personal */
.list-group-item.active, .list-group-item:focus {
    color: var(--secondary-dark);
    background-color: var(--primary-light) !important;
    border-color: var(--primary-dark);
}

@media (max-width: 770px) {
    #schedule-list {
        font-size: 13px !important;
    }
}

/* Estilos de texto para los detalles */
#logo-details {
    opacity: 0.5;
}

#schedule-header, #extra-pending-header, #extra-revised-header {
    border-bottom: 1px solid var(--secondary-light);
}

#form-header-container {
    background-color: var(--background-dark) !important;
    border-radius: 0.3rem;
    border: 1px solid var(--secondary-light);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#form-footer {
    background-color: var(--background-dark) !important;
    border-radius: 0.3rem 0.3rem 0 0;
    border-top: 1px solid var(--secondary-light);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.staff-title {
    text-align: end;
    font-size: 16px;
    color: var(--secondary) !important;
    border-top: 1px solid var(--secondary-light);
    padding-right: 0.5rem;
}

.staff-number {
    font-weight: bold;
    font-size: 13px;
    color: var(--primary-dark) !important;
}

.staff-position {
    font-weight: normal;
    font-size: 13px;
    color: var(--secondary) !important;
}

/* Estilos para los horarios */
#schedule-table, #schedule-table td {
    background-color: var(--background-dark) !important;
    color: var(--secondary);
}

#schedule-table tr, #extra-pending-table tr, #extra-revised-table tr {
    border: 1px solid var(--secondary-light);
}

#schedule-body, #extra-pending, #extra-revised {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Estilos para tiempo extra */
#extra-pending-table, #extra-pending-table td {
    font-size: 12px;
}

.extra-date{
    color: var(--primary-dark) !important;
    font-weight: bold;
}

.extra-time, #extra-pages-results {
    font-size: 13px;
    color: var(--secondary) !important;
}

@media (max-width: 770px) {
    #extra-pages .pagination .page-link {
        font-size: 13px !important;
    }
}