@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

main {
    min-height: 100vh;
}

/* Ocultar navbar */
/* #nav-list {
    display: none !important;
} */

#menu-container {
    animation: fadeInUp 1s ease-in-out;
}

.access-icon {
    color: var(--secondary);
    background: var(--background-dark);
    border-radius: 15px;
    width: 60px;
    height: 60px;
    padding: 14px;
}

/* Estilos para cards de acceso directo */
.card {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease;
    border-radius: 1rem;
}

.card:hover {
    transform: translateY(-5px);
}

.access-card{
    width: 50%;
}

@media (max-width: 770px) {
    .access-card{
        width: 100%;
    }
}