/* Fuentes importadas */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* Animaciones */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Colores para estados varios */
.state-blue {
    background-color: var(--blue-light) !important;
    color: var(--blue-dark) !important;
}

.state-greenL {
    background-color: var(--greenL-light) !important;
    color: var(--greenL-dark) !important;
}

.state-greenD {
    background-color: var(--greenD-light) !important;
    color: var(--greenD-dark) !important;
}

.state-yellow {
    background-color: var(--yellow-light) !important;
    color: var(--yellow-dark) !important;
}

.state-redL {
    background-color: var(--redL-light) !important;
    color: var(--redL-dark) !important;
}   

.state-redD {
    background-color: var(--redD-light) !important;
    color: var(--redD-dark) !important;
}

.state-grey {
    background-color: var(--grey-light) !important;
    color: var(--grey-dark) !important;
}

/* Estilos generales de la página y estructura */
body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    line-height: 1.6;
    font-family: "Inter", sans-serif;
}

main {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 52px);
}

section {
    margin: 20px 0px 20px 0px;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
}

table {
    font-size: 15px;
}

@media (min-width: 2000px) {
    .container {
        max-width: 1920px !important;
    }
}

@media (max-width: 770px) {
    table {
        font-size: 13px !important;
    }
}

@media (max-width: 430px) {
    table, table p {
        font-size: 11px !important;
    }

    p {
        font-size: 14px;
    }
}

/* Estilos para modales */
.modal-content {
    border-radius: 0.3rem;
}

.modal-header, .offcanvas-header {
    border-bottom: 1px solid var(--secondary-light);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#modal-header-container, #offcanvas-header-container {
    background-color: var(--background-dark) !important;
    border-radius: 0.3rem;
    border: 1px solid var(--secondary-light);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#header-status, #delete-text {
    color: var(--primary-dark);
}

.modal-text {
    color: var(--secondary);
    font-size: 14px;
}

.modal-footer, .offcanvas-footer {
    background-color: var(--background-dark);
    border-top: 1px solid var(--secondary-light);
    box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.1);
}

.modal-log-text {
    color: var(--secondary);
    font-size: 10.5px;
}

#modal-user-created, #modal-user-history, #offcanvas-user-history {
    color: var(--primary-dark);
}

.modal-color {
    padding: 1px 8px;
    border-radius: 5px;
    display: inline-block;
    width: fit-content;
    font-weight: bold;
}

@media (max-width: 430px) {
    .modal-text {
        font-size: 12px;
    }
}

/* Estilos para los íconos */
.icon-sm {
    font-size: 14px;
}

.icon-md {
    font-size: 24px;
}

.icon-lg {
    font-size: 32px;
}

/* Contenedores de figuras para los iconos */
.icon-circle {
    color: var(--primary);    
    background: var(--primary-light);
    border-radius: 100%;
    width: 64px;
    height: 64px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-square {
    color: var(--primary);
    background: var(--primary-light);
    border-radius: 15px;
    width: 60px;
    height: 60px;
    padding: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilos para formularios */
.form-control, .form-select{
    border-radius: 0.3rem;
    border: 1px solid var(--secondary-light);
}

.form-control:focus, .form-select:focus {
    border-color: var(--primary);
    box-shadow: 0 0 5px var(--primary-dark);
}

.form-control:disabled, .form-select:disabled {
    border-color: var(--secondary) !important;
    background-color: transparent !important;
    color: var(--primary-dark);
    font-weight: bold;
}

.store-name {
    color: var(--primary-dark);
}

input::placeholder, textarea::placeholder, #default-option {
    color: var(--primary-dark) !important;
    font-style: italic;
    opacity: 1;
    font-size: 14px;
}

.label-over-border {
    position: relative;
}

.label-over-border label {
    position: absolute;
    top: -1.28rem;
    background-color: var(--background-light);
    color: var(--secondary);
    font-weight: bold;
    padding: 0 0.2rem;
    font-size: 0.82rem;
    z-index: 1;
}

.error {
    color: var(--redD-light) !important;
}

/* Estilos para filtros */
#search-filter {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='%23000' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: calc(0% + 12px) center;
    background-size: 14px 14px;
    padding-left: 40px;
}

@media (min-width: 500px) and (max-width: 768px) {
    .filter-md {
        margin-top: 1.5rem;
    }

    .label-over-border label {
        top: -1.2rem;
        font-size: 12px;
    }
}

@media (max-width: 430px) {
    .filter-sm {
        margin-bottom: 1.5rem;
    }
}

/* Eliminar flechas de inputs numericos */
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Estilos para botones */
.btn-primary, .btn:disabled {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    border-radius: 0.3rem;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 10px var(--primary-dark);
}

.btn-secondary {
    border: 1px solid var(--secondary-light);
    background-color: transparent;
    color: var(--secondary);
    border-radius: 0.3rem;
    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background-color: var(--secondary);
    border-color: var(--primary-dark);
    color: var(--text-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-secondary:focus {
    outline: none;
    box-shadow: 0 0 10px var(--primary-dark);
}

/* Estilos para botones de las tabs */
.tab-btn {
    background-color: var(--background);
    border: 1px solid var(--secondary-light);
    color: var(--secondary);
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 0.3rem !important;
    transition: all 0.3s ease;
}

.tab-btn.active {
    background-color: var(--primary) !important;
    color: var(--text-light);
}

.tab-btn.active:hover {
    background-color: var(--primary-dark) !important;
}

.tab-btn:hover {
    background-color: var(--secondary);
    color: var(--text-light) !important;
}

@media (max-width: 430px) {
    .tab-btn {
        font-size: 13px;
    }
}

/* Estilos para botones de edición de entradas */
.action-buttons {
    padding: 0px;
    gap: 8px;
    display: flex;
    justify-content: flex-end;
}

.btn-edit, .btn-delete, .btn-add{
    border-radius: 0.3rem;
    border: 1px solid var(--secondary-light);
}

.btn-edit {
    color: var(--primary-dark);
    box-shadow: 0 2px 4px rgba(108, 150, 57, 0.3);
}

.btn-edit:hover {
    background-color: var(--primary-dark);
    color: var(--text-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-add {
    color: var(--secondary);
    box-shadow: 0 2px 4px rgba(117, 107, 108, 0.3);
}

.btn-add:hover {
    background-color: var(--secondary-light);
    color: var(--text-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-delete {
    color: var(--redD-dark);
    box-shadow: 0 2px 4px rgba(121, 17, 28, 0.3);
}

.btn-delete:hover {
    background-color: var(--redD-dark);
    color: var(--text-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-delete-confirm {
    width: 85px;
}

.btn-extra {
    padding: 1px 8px 3px 8px !important;
}

@media (max-width: 770px) {
    .btn-edit, .btn-delete, .btn-add{
        padding: 0.3rem 0.5rem;
    }
}

/* Estilos para paginación y su navegación */
.pagination .page-link {
    border: 1px solid var(--secondary-light);
    background-color: var(--background);
    color: var(--secondary);
    transition: all 0.3s ease;
}

.pagination .page-link:hover {
    background-color: var(--primary-light);
    color: var(--primary-dark);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pagination .page-link:focus {
    outline: none;
    box-shadow: 0 0 10px var(--primary-dark);
}

.pagination .page-item.active .page-link {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--text-light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
