main {
    animation: fadeInUp 1s ease-in-out;
}

/* Ocultar perfil de navbar */
#profile-btn {
    display: none !important;
}

/* Estilos generales de contenedores */
#profile-header, #user-info, #user-activity, #user-details {
    background-color: var(--background-light) !important;
    border-radius: 0.3rem;
    border: 1px solid var(--secondary-light);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Contenedor del encabezado */
@media (min-width: 500px) and (max-width: 768px) {
    #save-btn {
        font-size: 13px;
    }
}

#picture {
    border: 2px solid var(--primary-dark);
}

.user-color {
    padding: 1px 8px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
}

/* Estilos de cards de seguridad */
.activity-card {
    background-color: var(--background-dark) !important;
    border-radius: 0.25rem;
    border: 1px solid var(--secondary-light);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.activity-card p {
    color: var(--primary-dark);
}

.activity-card small {
    color: var(--secondary);
}